################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/CFAP176264B00270/v15
/__vm
/__vm/Upload.vmps.xml
/__vm/Configuration.Debug.vmps.xml
/__vm/Compile.vmps.xml
/__vm/.CFAP176264B00270.vsarduino.h
/__vm
/.vs/CFAP176264B00270/v15/.suo
/.vs/CFAP176264B00270/v15
/CFAP176264B00270.vcxproj.user
/CFAP176264B00270.vcxproj.filters
/CFAP176264B00270.vcxproj
/CFAP176264B00270.sln
